version: "3.8"
services:
  node-app:
    build:
      context: ../..
      dockerfile: services/node-nextjs/Dockerfile
    networks:
      - devnet
    volumes:
      - ../../node_workspace:/workspace
    ports:
      - "9002:8080"
    environment:
      PORT: 8080
    command: sleep infinity
    depends_on:
      - db
      - redis

  # Override shared services ports
  db:
    ports:
      - "54322:5432"

  redis:
    ports:
      - "63792:6379"

  redisCommander:
    ports:
      - "9012:8081"

  swagger-editor:
    ports:
      - "9022:8080"

  gateway:
    ports:
      - "9032:80"

  pgadmin:
    ports:
      - "9042:80"
