version: "3.8"
services:
  python-app:
    build:
      context: ../..
      dockerfile: services/python/Dockerfile
    networks:
      - devnet
    volumes:
      - ../../py_workspace:/workspace
    ports:
      - "9004:8080"
    environment:
      APP_PORT: 8080
    command: sleep infinity
    depends_on:
      - db
      - redis

  # Override shared services ports
  db:
    ports:
      - "54324:5432"

  redis:
    ports:
      - "63794:6379"

  redisCommander:
    ports:
      - "9014:8081"

  swagger-editor:
    ports:
      - "9024:8080"

  gateway:
    ports:
      - "9034:80"

  pgadmin:
    ports:
      - "9044:80"
